<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Sign up</h3>
  </div>
  <div class="panel-body">
    <div class="sign-panel">
      <br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="row">
    <div class=".col-centered">
  <%= devise_error_messages! %>
  </div>
  </div>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    <div class="center-submit cf">
      <div class="rendered-sign">
  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
</div>

<%= render "devise/shared/links" %>
     </div>

    
  </div>
</div>

<script type="text/javascript">

$(".sign-panel").find("a").hide();
$(".mod-submit").find('input[name=commit]').addClass("btn btn-primary btn3d center-forgot");
</script>


