<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Street Address</Data></Cell>
        <Cell><Data ss:Type="String">City_State</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">E-mail</Data></Cell>
        <Cell><Data ss:Type="String">Secondary E-mail</Data></Cell>
        <Cell><Data ss:Type="String">Major</Data></Cell>
        <Cell><Data ss:Type="String">Pledge Class</Data></Cell>
        <Cell><Data ss:Type="String">Pledge Class Name</Data></Cell>
        <Cell><Data ss:Type="String">Graduation Year</Data></Cell>
        <Cell><Data ss:Type="String">Employer</Data></Cell>
        <Cell><Data ss:Type="String">Job Title</Data></Cell>
        <Cell><Data ss:Type="String">Marital Status</Data></Cell>
        <Cell><Data ss:Type="String">LinkedIn</Data></Cell>
        <Cell><Data ss:Type="String">Facebook</Data></Cell>
        <Cell><Data ss:Type="String">Twitter</Data></Cell>
        <Cell><Data ss:Type="String">Instagram</Data></Cell>
        <Cell><Data ss:Type="String">Pinterest</Data></Cell>
        <Cell><Data ss:Type="String">Comments</Data></Cell>
      </Row>
      <% @users.each do |lasso| %>
      <Row>
        <Cell><Data ss:type="Number"><%= lasso.id %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.name %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.street %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.city_state %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.phone %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.email %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.email2 %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.major %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.pledge_class %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.pledge_class_name %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.grad_year %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.employer %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.job_title %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.marital_status %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.linkedin %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.facebook %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.twitter %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.instagram %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.pinterest %></Data></Cell>
        <Cell><Data ss:type="String"><%= lasso.comments %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

