<p>
  Download:
  <%= link_to "CSV", 'import_export#files'(format: "csv") %> |
  <%= link_to "Excel", 'import_export#files'(format: "xls") %>
</p>


<%= form_tag 'import_export#files', multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>
