<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">Search
		</span>
	</div>
	<div class="panel-body-prof-main">
		<div class="wrapper">
			<h2>Find Another Alumna</h2>
			<div class="search-area">
				

				<%= form_tag(find_path, :method => "get", id: "search-form") do %>
				  <p>Search by: </p><%= select("user", "name", User.all.collect {|p| [ p.name, p.pledge_class_name ] }, {include_blank: 'Please choose...'}) %>
				  <%= text_field_tag :search, params[:search], placeholder: "Search Users", :class => "form-control" %>
				  <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
				<% end %>
				<% if @searched_users %>
					<p><%= @pledge_class %></p>
					<p><%= @pledge_class_name %></p>
					<p><%= @grad_year %></p>
					<p><%= @searched_users.name %></p>
				<% end %> 
				<%= select_tag "pledge_class", options_for_select(@pledge_class.each {|pc| pc}, {include_blank: 'Please choose...'}) %>
				<%= select_tag "pledge_class_name", options_for_select(@pledge_class_name.each {|pcn| pcn}, {include_blank: 'Please choose...'}) %>
				<%= select_tag "grad_year", options_for_select(@grad_year.each {|gy| gy}, {include_blank: 'Please choose...'}) %>





			</div>
		</div>
	</div>
</div>


<!-- name, city_state, major, pledge_class, pledge_class_name, grad_year, employer, job_title -->