<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">Search
		</span>
	</div>
	<div class="panel-body-prof-main">
		<div class="wrapper">
			<h2>Find Another Alumna</h2>
			<div class="form-control">

				<%= form_for @search, url: find_path do |f| %>

				  <%=f.label :email %>
				  <%=f.text_field :email %>

				  <%=f.label :name %>
				  <%=f.text_field :name %>

				  <%=f.label :location %>
				  <%=f.text_field :city_state %>

				  <%=f.label :major %>
				  <%=f.text_field :major %>

				  <%=f.label :employer %>
				  <%=f.text_field :employer %>

				  <%=f.label :job_title %>
				  <%=f.text_field :job_title %>

				<p>Pledge Class: <%= f.select :pledge_class, options_for_select(@pledge_class.each {|pc| pc}), {:include_blank => true} %></p>
				<p>Pledge Class Name: <%= f.select :pledge_class_name, options_for_select(@pledge_class_name.each {|pcn| pcn}), {:include_blank => true} %></p>
				<p>Graduation Year: <%= f.select :grad_year, options_for_select(@grad_year.each {|gy| gy}), {:include_blank => true} %></p>

				<%= f.submit "Search", :class => "btn btn-primary" %> 	
		<% end %>
		</div>
		</div>
	</div>
</div>
	<div class="panel panel-default">
		<% if @users %>
			<table class="search-results">
			<% @users.each do |user| %>
				<%= user.name %>, <%= user.email %>, <%= user.pledge_class_name %>
			<% end %>
			</table>
		<% end %>
	</div>
	


