<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Welcome, <%= current_user.name %>
      <input type="button" class="btn btn-primary pull-right edit" value="Edit"/>
      <input type="button" class="btn btn-primary pull-right edit" value="Edit"/>
      <input type="button" class="btn btn-primary pull-right edit" value="Edit"/>
    </span>
  </div>
  <div class="panel-body-prof-main">
    <div class="wrapper">
      <div class="grav-div">
        <%= image_tag current_user.gravatar_url(:size => 256), :class => 'grav-photo' %>
      </div>
        <div class="profile-main">
            <h2 class="section-header-top">School Info</h2>
          <div class="school-info">
            <p><b>Pledge Class:</b> <%= current_user.pledge_class %></p>
            <p><b>Pledge Class Name:</b> <%= current_user.pledge_class_name %></p>
            <p><b>Graduation Year:</b> <%= current_user.grad_year %></p>
            <p><b>Major:</b> <%= current_user.major %></p>
          </div>
        </div>
        <div class="professional">
          <h2 class="section-header-top">Professional</h2>
          <div class="pro-sub">
            <p><b>Employer: </b><%= current_user.employer %></p> 
            <p><b>Postition: </b><%= current_user.job_title %></p> 
          </div>
        </div>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Information and Social Networking</h3>
  </div>
  <div class="panel-body-prof-main">
    <div class="wrapper-contact">
      <div class="address">
        <h3 class="section-header">Address</h3>
        <p><%= current_user.street %></p>
        <p><%= current_user.city %>, <%=current_user.state %> <%= current_user.zip_code %></p>
      </div>
      <div class="social">
        <h3 class="section-header">Social Networking</h3>
        <p><% if current_user.facebook != "" %><i class="fa fa-facebook"></i> <%= current_user.facebook %><% end %></p>
        <p><% if current_user.twitter != "" %><i class="fa fa-twitter"></i> <%= current_user.twitter %><% end %></p>
        <p><% if current_user.instagram != "" %><i class="fa fa-instagram"></i> <%= current_user.instagram %><% end %></p>
        <p><% if current_user.pinterest != "" %><i class="fa fa-pinterest"></i> <%= current_user.pinterest %><% end %></p>
      </div>
      <div class="misc">
        <h3 class="section-header">Contact</h3>
        <p><i class="fa fa-phone"></i></i> <%= current_user.phone %></p>
        <p><i class="fa fa-envelope"></i> <%= current_user.email %></p>
        <p><% if current_user.email2 %><i class="fa fa-envelope-o"></i> <%= current_user.email2 %> <% end %></p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default comments">
  <div class="panel-heading">
    <h3 class="panel-title">Shout Out</h3>
  </div>
  <div class="panel-body-prof-main">
    <div class="wrapper-contact">
      <div class="comments-area">
        <p><%= current_user.comments %></p>
      </div>


    </div>
  </div>
</div>
