<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Sign in</h3>
  </div>
  <div class="panel-body">
  	<div class="sign-panel">
  		<br />
  			<!-- <div id="logo-div">
				<img src="<%= image_path 'lassos.png' %>" alt="Texas Lassos' Alumni Group" id="logo" />
  			</div> -->

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div> <%= f.label :email %> <%= f.email_field :email, autofocus: true %> </div>
			  <br /> <br />

			  <div> <%= f.label :password %> <%= f.password_field :password, autocomplete: "off" %> </div>

			  <% if devise_mapping.rememberable? -%>
			  <br />
			    <div class="remember"><%= f.check_box :remember_me %> <%= f.label :remember_me %> </div>
			  <% end -%>
			
			<div class="center-submit cf">
				<div class="rendered-sign">
				  <div><%= f.submit "Log in" %></div>
				<% end %>
				</div>
			</div>

			<%= render "devise/shared/links" %>

		    <br />
		      <input type="submit" value ="Sign up" class="btn btn-warning btn3d sign-butt" data-toggle="modal" data-target="#myModal" />
		    
		   </div>

		  
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Please fill in all fields</h4>
	      </div>
	      <div class="modal-body">

	          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	            <%= devise_error_messages! %>

	            <div><%= f.label :name, :class => "modal-name" %><br />
	            <%= f.text_field :name %></div>

	            <div><%= f.label :email %><br />
	            <%= f.email_field :email %></div>

	            <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
	              <%= f.password_field :password, autocomplete: "off" %></div>

	            <div><%= f.label :password_confirmation %><br />
	              <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

				<%= f.label :pledge_semester %>
				<%= f.select :pledge_class, options_for_select(@pledge_class_arr.each {|pc| pc}), { :class => 'signin-select' } %>
				<br /><br /><br />


	            
	        	<div class="mod-submit"><%= f.submit "Sign up" %></div>
	          <% end %>
	          <br /><br />

	          
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn3d" data-dismiss="modal">Close</button>
	        <p class="asterick">If you want a profile picture, please sign up with the same email address you use for Gravatar.</p>
	      </div>
	      </div>
	    </div>
	  </div>
	</div>
