<h1>Admin</h1>

<h2>Export</h2>
<p>
  <%= link_to "Excel", export_path(format: "xls") %>
</p>

<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Import CSV File to Pending Database</h3>
  </div>
  <div class="panel-body">
    <div class="sign-panel">
      <br />
      <h2>Import Lassos</h2>
      <%= form_tag('/import', multipart: true) do %>
        <%= file_field_tag(:file) %>
        <%= submit_tag("Import") %>
      <% end %>
    </div>
  </div>
</div>

<center>
  <h2>Pending Approvals</h2>
  <table>
  <tr>
    <th>Name</th>
    <th>Pledge Class</th>
    <th>Email</th>
  </tr>

    <% @approval_list.each do |pending_user| %>
<<<<<<< HEAD
    <tr>
=======

>>>>>>> master
      <td><%= pending_user.name %></td>
      <td><%= pending_user.pledge_class %></td>
      <td><%= pending_user.email %></td>
    </tr>
    <% end %>
    </table><br /><br />

<script type="text/javascript">
$(".sign-panel").find("a").hide();
$(".mod-submit").find('input[name=commit]').addClass("btn btn-primary btn3d center-forgot");
</script>