<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Export Database to Excel</h3>
  </div>
    <div class="panel-body">
      <div class="sign-panel export-panel">
      <h2>Export Lassos</h2>
    <p>
      <%= link_to "Excel", export_path(format: "xls") %>
      <center>
      <%= button_to "Export", "/export.xls", :id => "export",
            :class => "btn btn-primary exp-butt", :method => :get, :format => "xls" %>
      </center>
    </p>
      
    </div>
  </div>
</div>
<br /><br />

<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Import CSV File to Pending Database</h3>
  </div>
  <div class="panel-body">
    <div class="sign-panel import-panel">
      <h2>Import Lassos</h2>
      <%= form_tag('/import', multipart: true) do %>
        <div class="col-lg-4 file-area">
        <%= file_field_tag 'file', class: "form-control imp-field" %>
        </div>
        <%= submit_tag 'Import', class: "btn btn-primary import" %>
      <% end %>
    </div>
  </div>
</div>

<center>
  <table class="table table-hover table-striped">
  <h2>Pending Approvals</h2>
  <tr>
    <th>Name</th>
    <th>Pledge Class</th>
    <th>Email</th>
    <th>Accept?</th>
    <th></th>
    <th></th>
  </tr>

    <% @approval_list.each do |pending_user| %>
    <tr>
      <td><%= pending_user.name %></td>
      <td><%= pending_user.pledge_class %></td>
      <td><%= pending_user.email %></td>
      <td><%= button_to "Accept", {:id => pending_user.id}, {:class => "btn btn-primary"} %></td>
      <td><%= button_to "Deny", {:destroy => pending_user.id }, {:class => "btn btn-warning"} %></td>
    </tr>
    <% end %>
    </table><br /><br />

<script type="text/javascript">
$(".sign-panel").find("a").hide();
// $(".imp-field").find('input[type=upload]').addClass("btn btn-primary btn3d center-forgot");
</script>