<script src="editProfile.js"></script>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Welcome, <%= @edit_user.name %>
    <input type="button" id="main" class="btn btn-primary pull-right edit" value="Edit"/>
    </span>
  </div>
  <div class="panel-body-prof-main">
    <div class="wrapper">
      
      <div class="main-wrapper">
        <div class="profile-main">
          <h2 class="section-header-top">Lassos Info</h2>
          <div class="school-info">
            <p><b>Pledge Class:</b> <%= @edit_user.pledge_class %></p>
            <p><b>Pledge Class Name:</b> <%= @edit_user.pledge_class_name %></p>
            <p><b>Graduation Year:</b> <%= @edit_user.grad_year %></p>
            <p><b>Major:</b> <%= @edit_user.major %></p>
          </div>
        </div>

        <div class="grav-div">
          <%= image_tag @edit_user.gravatar_url(:size => 256), :class => 'grav-photo' %>
        </div>

        <div class="professional">
          <h2 class="section-header-top">Professional</h2>
          <div class="pro-sub">
            <p><b>Employer: </b><%= @edit_user.employer %></p>
            <p><b>Postition: </b><%= @edit_user.job_title %></p>
          </div>
        </div>
      </div>
      <div class="top-form">
        <%= form_tag profile_path, :method => 'put' do %>
        <div class="alum-form-left">
          <div><%= label_tag :name, nil, :class => "name-butt" %><br />
          <%= text_field_tag 'edit_user[name]', @edit_user.name %></div>
          <div><%= label_tag :major %><br />
          <%= text_field_tag 'edit_user[major]', @edit_user.major %></div>

          <div><%= label_tag :grad_year %><br />
          <%= text_field_tag 'edit_user[grad_year]', @edit_user.grad_year %></div>

          <%= label_tag :pledge_semester %>
          <%= select_tag 'edit_user[pledge_class]', options_for_select(@pledge_class.each {|pc| pc}), { :class => 'form-selects' } %>

          <%= label_tag :pledge_class_name %>
          <%= select_tag 'edit_user[pledge_class_name]', options_for_select(@pledge_class_name.each {|pcn| pcn}), { :class => 'form-selects' } %>

        </div>
        <div class="pro-form-right">
          <div><%= label_tag :employer, nil, :class => "emp-butt" %><br />
          <%= text_field_tag 'edit_user[employer]', @edit_user.employer %></div>
          <div><%= label_tag :job_title %><br />
          <%= text_field_tag 'edit_user[job_title]', @edit_user.job_title %></div>
        </div>
        <%= submit_tag "Save", :id => "info-save", :class => "btn btn-primary btn3d" %>
        <%= hidden_field_tag "edit_user_id", @edit_user.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Contact Information
    <input type="button" id="con" class="btn btn-primary pull-right edit" value="Edit"/>
    </span>
  </div>
  <div class="panel-body-prof-main">
    <div class="wrapper-contact">
      <div class="visible-social">
        <div class="address">
          <h3 class="section-header">Address</h3>
          <p><%= @edit_user.street %></p>
          <p><%= @edit_user.city_state %></p>
        </div>
        <div class="social">
          <h3 class="section-header">Social Networking</h3>
          <p><% if @edit_user.facebook && @edit_user.facebook != "" %><i class="fa fa-facebook"></i> <%= @edit_user.facebook %><% end %></p>
          <p><% if @edit_user.twitter && @edit_user.twitter != "" %><i class="fa fa-twitter"></i> <%= @edit_user.twitter %><% end %></p>
          <p><% if @edit_user.instagram && @edit_user.instagram != "" %><i class="fa fa-instagram"></i> <%= @edit_user.instagram %><% end %></p>
          <p><% if @edit_user.pinterest && @edit_user.pinterest != "" %><i class="fa fa-pinterest"></i> <%= @edit_user.pinterest %><% end %></p>
        </div>
        <div class="misc">
          <h3 class="section-header">Contact</h3>
          <p><i class="fa fa-phone"></i></i> <%= @edit_user.phone %></p>
          <p><i class="fa fa-envelope"></i> <%= @edit_user.email %></p>
          <p><% if @edit_user.email2 && @edit_user.email2 != ""%><i class="fa fa-envelope-o"></i> <%= @edit_user.email2 %> <% end %></p>
        </div>
      </div>
      <div class="social-form">
        <%= form_tag profile_path, :method => 'put' do %>
        <div class="social-form-left">
          <div><%= label_tag :street, nil, :class => "street-butt" %><br />
          <%= text_field_tag 'edit_user[street]', @edit_user.street %></div>
          <div><%= label_tag :city_state %><br />
          <%= text_field_tag 'edit_user[city_state]', @edit_user.city_state %></div>
          <div><%= label_tag :email %><br />
          <%= email_field_tag 'edit_user[email]', @edit_user.email %></div>
          <div><%= label_tag :email2 %><br />
          <%= email_field_tag 'edit_user[email2]', @edit_user.email2 %></div>
          <div><%= label_tag :phone %><br />
          <%= text_field_tag 'edit_user[phone]', @edit_user.phone %></div>
        </div>
        <div class="social-form-right">
          <div><%= label_tag :linkedin, nil, :class => "linked-butt" %><br />
          <%= text_field_tag 'edit_user[linkedin]', @edit_user.linkedin %></div>
          <div><%= label_tag :facebook %><br />
          <%= text_field_tag 'edit_user[facebook]', @edit_user.facebook %></div>
          <div><%= label_tag :twitter %><br />
          <%= text_field_tag 'edit_user[twitter]', @edit_user.twitter %></div>
          <div><%= label_tag :instagram %><br />
          <%= text_field_tag 'edit_user[instagram]', @edit_user.instagram %></div>
          <div><%= label_tag :pinterest %><br />
          <%= text_field_tag 'edit_user[pinterest]', @edit_user.pinterest %></div>
          <div><%= label_tag :marital_status %><br />
          <%= text_field_tag 'edit_user[marital_status]', @edit_user.marital_status %></div>
        </div>
        <%= submit_tag "Save", :id => "contact-save", :class => "btn btn-primary btn3d" %>
        <%= hidden_field_tag "edit_user_id", @edit_user.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default comments">
  <div class="panel-heading">
    <span class="panel-title">Comment
    <!-- <input type="submit" id="comm-save" class="btn btn-warning pull-right edit" value="Save"/> -->
    <input type="button" data-id="<%= @edit_user.id %>" id="comm" class="btn btn-primary pull-right edit" value="Edit"/>
    </span>
  </div>
  <div class="panel-body-prof-main">
    <div class="wrapper-contact">
      <div class="comments-area">
        <p><%= @edit_user.comments %></p>
      </div>
      <div id="text-area">
        <%= form_tag profile_path, :method => 'put' do %>
        <%= text_area_tag 'edit_user[comments]', @edit_user.comments, size: "150x8", :class => 'txtarea' %>
        <%= submit_tag "Save", :id => "comm-save", :class => "btn btn-primary btn3d" %>
        <%= hidden_field_tag "edit_user_id", @edit_user.id %>
        
        <% end %>
      </div>
    </div>
  </div>
</div>
